*{
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
body {
  margin: 0px;
  background-image: linear-gradient(orange, grey);
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  border-radius: 5px;
  border: 5px orangered solid;
  width: 80vw;
  height: 95vh;
  padding-bottom: 32px;
}

#game {
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  padding-top: 5px;
}

.card{
  background-color: transparent;
  margin-left: 5px;
  /* margin-top: 5px; */
  width: calc(100% / 6);
  height: 15%;
  perspective: 1000px;
}
.card-inner{
  box-shadow: 5px 5px 10px -10px black;
  transform: rotateY(180deg);
  border: solid black 2px;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bbb;
}

.card-back {
  background-color: #944a37;
  color: white;
  transform: rotateY(180deg);
}

.img{
  /* user-select: none; */
  max-width: 92%;
  max-height: 95%;
  border: 1px solid white ;
  box-shadow: 0px 0px 10px -5px red;
}
#form{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px orange;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#input{
  max-width: 150px;
  margin-left: 20px;
  border: 2px solid black;
}
button{
  border-radius: 2px;
  border: 2px solid black;
  color: white;
  background-color: rgb(134, 72, 0);
  margin-right: 20px;
}

@media screen and (max-width: 700px){
  .App{
    padding-bottom: 15px;
  }
  #form label {
    display: none;
  }
  input{
    max-width: 100px;
  }
}


